html {
  background-color: #e5e5e5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0em;
  padding: 0em;
}
ul {
  list-style-type: none;
}
