<nav>
  <div>
    <ul class="nav">
      <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">HOME</a></li>
      <li><a href="{{site.baseurl}}/planets/" class="{% if page.url contains 'planets' %}current{% endif %}">PLANETS</a></li>
      <li><a href="{{site.baseurl}}/test-web/" class="{% if page.url contains 'test-web' %}current{% endif %}">TEST</a></li>
      <li><a href="{{site.baseurl}}/projects.html" class="{% if page.url contains 'projects' or page.url contains 'general-programs' or page.url contains 'machine-learning' or page.url contains 'web-development' %}current{% endif %}">PROJECTS</a></li>
    </ul>
  </div>
</nav>
